
#page-wrapper{
    margin:0;
}
#top-menu{
    padding: 15px 0 5px 0px;
    text-align:center;
    background-color: #2e2c2c;
}

.container a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
}

li{
    display: inline-block;
    padding: 0 15px 0 15px;
}

#banner {
    height: 250px;
    text-align: 100px;
    background-color: #e0e7f7;
}
.banner-text{
    position: absolute;
    right: 20%
}



